<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar Menu</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/adminstyle.css">
</head>
<style>
     table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 2px solid black;
            padding: 10px;
            text-align: left;
            font-weight: bold;
        }

        /* Style for user name (yellow) */
        td:nth-child(1) {
            color: rgb(38, 0, 255);
        }

        /* Style for email (black) */
        td:nth-child(2) {
            color: rgb(239, 0, 139);
        }

        /* Style for buttons */
        .btn {
            font-weight: bold;
        }

        .btn-danger {
            background-color: red;
            color: white;
        }

        .btn-success {
            background-color: green;
            color: white;
        }

        /* Style for copyright */
        .copyright {
            font-weight: bold;
        }
        h1 {
            text-align: center;
        }
</style>

<body>
  <nav>
    <div class="sidebar-top">
      <span class="shrink-btn">
        <i class='bx bx-chevron-left'></i>
      </span>
      <img src="./img/logo.png" class="logo" alt="">
      <h3 class="hide">Aqumex</h3>
    </div>

    <div class="search">
      <i class='bx bx-search'></i>
      <input type="text" class="hide" placeholder="Quick Search ...">
    </div>

    <div class="sidebar-links">
      <ul>
        <div class=""></div>
        <li class="tooltip-element" data-tooltip="0">
          <a href="sales-report" class="active" data-active="0">
            <div class="icon">
              <i class='bx bx-tachometer'></i>
              <i class='bx bxs-tachometer'></i>
            </div>
            <span class="link hide">Dashboard</span>
          </a>
        </li>
        <li class="active-tab" data-tooltip="1">
          <a href="users" data-active="1">
            <div class="icon">
              <i class='bx bx-folder'></i>
              <i class='bx bxs-folder'></i>
            </div>
            <span class="link hide">USERS</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="2">
          <a href="product" data-active="2">
            <div class="icon">
              <i class='bx bx-message-square-detail'></i>
              <i class='bx bxs-message-square-detail'></i>
            </div>
            <span class="link hide">PRODUCTS</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="3">
          <a href="orders" data-active="3">
            <div class="icon">
              <i class='bx bx-bar-chart-square'></i>
              <i class='bx bxs-bar-chart-square'></i>
            </div>
            <span class="link hide">ORDERS</span>
          </a>
        </li>
        <div class="tooltip">
          <span class="show">Dashboard</span>
          <span>Projects</span>
          <span>Messages</span>
          <span>Analytics</span>
        </div>
      </ul>

      <h4 class="hide">Shortcuts</h4>

      <ul>
        <li class="active-tab" data-tooltip="0">
          <a href="adminCatagory" data-active="4">
            <div class="icon">
              <i class='bx bx-notepad'></i>
              <i class='bx bxs-notepad'></i>
            </div>
            <span class="link hide">Catagory</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="0">
          <a href="brand" data-active="4">
            <div class="icon">
              <i class='bx bx-notepad'></i>
              <i class='bx bxs-notepad'></i>
            </div>
            <span class="link hide">Brands</span>
          </a>
        </li>
        <li class="history" data-tooltip="1">
          <a href="history" data-active="5">
            <div class="icon">
              <i class='bx bx-help-circle'></i>
              <i class='bx bxs-help-circle'></i>
            </div>
            <span class="link hide">OrderHistory</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="2">
          <a href="coupon" data-active="6">
            <div class="icon">
              <i class='bx bx-cog'></i>
              <i class='bx bxs-cog'></i>
            </div>
            <span class="link hide">Coupons</span>
          </a>
        </li>
        <div class="tooltip">
          <span class="show">Tasks</span>
          <span>Help</span>
          <span>Settings</span>
        </div>
      </ul>
    </div>

    <div class="sidebar-footer">
      <a href="#" class="account tooltip-element" data-tooltip="0">
        <i class='bx bx-user'></i>
      </a>
      <div class="admin-user tooltip-element" data-tooltip="1">
        <div class="admin-profile hide">
          <img src="./img/face-1.png" alt="">
          <div class="admin-info">
            <h3>John Doe</h3>
            <h5>Admin</h5>
          </div>
        </div>
        <a href="logout" class="log-out">
          <i class='bx bx-log-out'></i>
        </a>
      </div>
      <div class="tooltip">
        <span class="show">John Doe</span>
        <span>Logout</span>
      </div>
    </div>
  </nav>


  <main>
    <h1>Users</h1>
    <p class="text">
        <div class="tab-content mt-3">
            <!-- Users category -->
            <div class="tab-pane" id="users">
                <!-- Table to display user information -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email (Gmail)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% users.forEach((user) => { %>
                          <tr>
                              <td><%= user.name %></td>
                              <td><%= user.email %></td>
                              <td>
                                  <% if (!user.isBlocked) { %>
                                      <a href="block/<%= user._id %>" class="block-btn" data-user-id="<%= user._id %>">
                                          <button class="btn btn-danger" onclick="confirmBlock('<%= user._id %>')">Block</button>
                                      </a>
                                  <% } else { %>
                                      <a href="unblock/<%= user._id %>" class="unblock-btn" data-user-id="<%= user._id %>">
                                          <button class="btn btn-success" onclick="confirmUnblock('<%= user._id %>')">Unblock</button>
                                      </a>
                                  <% } %>
                              </td>
                          </tr>
                      <% }) %>
                      <!-- Add more rows for other users -->
                  </tbody>
                  
                  <script>
                      function confirmBlock(userId) {
                          if (confirm("Are you sure you want to block this user?")) {
                              // Perform block action here, then change button style
                              document.querySelector(`.block-btn[data-user-id='${userId}'] button`).classList.remove('btn-danger');
                              document.querySelector(`.block-btn[data-user-id='${userId}'] button`).classList.add('btn-success');
                              document.querySelector(`.block-btn[data-user-id='${userId}']`).classList.remove('block-btn');
                              document.querySelector(`.block-btn[data-user-id='${userId}']`).classList.add('unblock-btn');
                              
                              window.location.href = "/admin/block/" + userId;
                          }
                      }
                  
                      function confirmUnblock(userId) {
                          if (confirm("Are you sure you want to unblock this user?")) {
                              // Perform unblock action here, then change button style
                              document.querySelector(`.unblock-btn[data-user-id='${userId}'] button`).classList.remove('btn-success');
                              document.querySelector(`.unblock-btn[data-user-id='${userId}'] button`).classList.add('btn-danger');
                              document.querySelector(`.unblock-btn[data-user-id='${userId}']`).classList.remove('unblock-btn');
                              document.querySelector(`.unblock-btn[data-user-id='${userId}']`).classList.add('block-btn');
                              
                              window.location.href = "/admin/unblock/" + userId;
                          }
                      }
                  </script>
                  
                  
                  
                  
                </table>
            </div>
    </p>
    <p class="copyright">
      &copy; 2021 - <span>Aqumex</span> All Rights Reserved.
    </p>
  </main>

  <script src="app.js"></script>
</body>

</html>