<div class="container mt-4">
    <!-- Add product-related content here -->
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Item No</th>
                <th>Images</th>
                <th>Product Name</th>
                <th>Brands</th>
                <th>Price</th>
                <th>Stocks</th>
                <th>Catagory</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>


        </button></td>
        <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#productModal">
                            ADD Product
                        </button>
        <tbody>

            <!-- Add your product rows here as table rows -->
            <% products.forEach((product, index)=>{ %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <% console.log(product.images) %>;
                        <img src="/images/<%= product.images[0] %>" alt="" width="120px" height="150px">
                    <td>
                        <%= product.name %>
                    </td>
                    <td>
                        <%= product.brand %>
                    </td>
                    <td>
                        <%= product.price %>$
                    </td>
                    <td>
                        <%= product.stocks %>
                    </td>
                    <td>
                        <%=product.catagory %>
                    </td>
                    <td>
                        <a href="/admin/delete/<%= product._id %>" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a href="/admin/edit/<%= product._id %>" class="btn btn-danger">
                            Edit
                        </a>
                    </td>
                    <td>

                    </td>
                </tr>
                <% }) %>
                    <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
</div>
<div class="modal fade" id="productModal" tabindex="-1" role="dialog"
aria-labelledby="productModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="productModalLabel">Product Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <form method="post" action="/admin/home" class="modal-body" enctype="multipart/form-data" style="background-color: white; color: black;">
            <!-- Add your product details here -->
            <div class="form-group">
                <label for="productImage" >Product Image:</label>
                <input min="4" multiple type="file" class="form-control-file" name="images" id="productImage" required>
            </div>
            <div class="form-group">
                <label for="productName" style="color: wheat;">Product Name:</label>
                <input type="text" class="form-control" name="name" placeholder="name"
                    id="productName" required>
            </div>
            <div class="form-group">
                <label for="brand" style="color: wheatj">Brand:</label>
                <input type="text" class="form-control" name="brand" id="brand" required>
            </div>
            <div class="form-group">
                <label for="price" style="color: wheat">Price:</label>
                <input min="1" type="number" class="form-control" name="price" id="price" required>
            </div>
            <div class="form-group">
                <label for="stocks" style="color: wheat">Stocks:</label>
                <input min="1" type="number" class="form-control" name="stock1" id="stocks" required>
            </div>
            <div class="form-group">
                <label for="category" style="color: wheat">Catagory:</label>
                <select name="catagory" id="catagory" class="form-control" required>
                  <option value="Casuals">Casuals</option>
                  <option value="Formals">Formals</option>
                  <option value="Offroads">Offroads</option>
                  <option value="Spikes">Spikes</option>
                  <option value="Boots">Boots</option>
                </select>
              </div>
              
            <button type="submit" class="btn btn-secondary">Add Product</button>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- You can add an "Add" button here if needed -->
        </div>
    </div>
</div>
</div>